a {
    color: gray;
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    color: orange;
    font-size: 2rem;
}

a:visited {
    color: red;
}

a:active {
    color: blue;
}

.css:hover {
    background-color: aqua;
}

.btn {
    background-color: black;
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
    color: red;

}